h1 {
    font-size: 14px;
    color: black;
    font-family:Helvetica;
    margin-top: 10px;
    font-weight:bold;
    padding-top:0;
    line-height: 80%;
    letter-spacing: -.01em;
}

.template{
    border-color:black;
    background-color: white;
    font-family: helvetica;
    font-size: 12px;
}

.form{
    background-color: white;
}


.delete {
    font-size: 15px;
    font-family: helvetica;
    font-weight: bold;
    color: gray;
   -webkit-text-stroke-width: 0px;
}

body {
    padding-top: 1em;
    margin-top: 0em;
    margin-bottom: 10em;
    background-color:white;
}

p {
    font-family:Px Grotesk;
    color:black;
    font-weight: bold;
}

textarea{
    width: 250px;
    height: 50px;
    border-width: 1px;
    box-shadow: none;
    margin-top: 10px;
    background-color: white;
    color: gray;
}

td {
    white-space: nowrap;

}

.male {
    color:black;
    font-family: Px Grotesk;
    white-space: normal;

}

.female {
    color: black;
    font-family: Px Grotesk;
    white-space: normal;

    
}

.thin{
    font-weight:lighter;
}

.strong{
    font-weight: bold;
}

.fat{
    font-weight: bold;
   -webkit-text-stroke-width: 2px;
    
}
.template{
    color: gray;
}

.xl{
    line-height:80%; 
    font-size: 200px;
}

.l{
    line-height:80%; 
    font-size: 100px;
}

select {
    border-radius: 0px;
    border-style:solid;
    border:1px;
    border-color:black;
    
}


    input[type=submit] {
    background-color: white;
    border: 1px;
    color: gray;
    border-color: black;
    border-style: solid;
    }
    
tr[class=ages]{
font-family: helvetica;
font-size: 13px;
font-weight: bold;
color: black;
margin-top: 10px;
}

.table{
    margin-top: 350px;
    
}

